@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap");
* {
  font-family: "Nunito", sans-serif !important;
}

.alerta-info{
    /* border-radius: 4px !important;
    border-left: 4px solid #7159C1 !important;
    background-color: rgb(113, 89, 193, 0.3) !important;    */

    position: relative ;
    display: inline-block ;
    max-width: 300px ;
    padding: 20px 15px ;
    border-radius: 4px ;
    background-color: #7159C1 ;
    color: #f6f5f9 ;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 1) ;
    transform: translateY(30px) ;
    opacity: 0 ;
    visibility: hidden ;
    animation: fade 4s linear forwards ;

}

.progress{
    position: absolute ;
    left: 5px ;
    bottom: 5px ;
    width: 0 ;
    height: 3 ;
    background-image: linear-gradient(to right, #529bdb, #3250bf) ;
    border-radius: 4px ;
    animation: progress 3s .25s linear forwards ;
}

@keyframes fade {
    5%{
        opacity: 1 ;
        visibility: visible ;
        transform: translate(0px) ;
    }

    90%{
        opacity: 1 ;
        transform: translate(0px) ;
    }

    100%{
        opacity: 0 ;
        transform: translate(-30px) ;
    }
}

.alerta-success{
    border-radius: 4px !important;
    border-left: 4px solid #32ff7e !important;
    background-color: rgb(50, 255, 126, 0.3) !important;   
}

.content{
    display: flex !important;
    flex-direction: row !important;
    

    
}
.card{
    background-color: #34495e !important;
    margin: 10px !important;
    /* max-width: 18rem !important; */
    /* color: #0E1117; */
}

.stApp {
    background-color: #0E1117;
    

}

#MainMenu {
    visibility: hidden;
}

footer {
    visibility: hidden;
}




